@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
  main {
    height: initial;
    padding: 5rem 4rem;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 1000px) {
  #box-main {
    display: none;
  }
}