* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  background: #202020;
  font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Krona One", sans-serif;
}
p, ul, li, input, label {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2.4rem;
  max-width: (6rem * 20);
  text-transform: uppercase;
  line-height: 1.4;
  &:after {
    content: "";
    display: block;
    width: 100px;
    height: 8px;
    margin-top: 20px;
    background: #001fff;
  }
}
h2 {
  font-size: 3rem;
  margin-bottom: 4rem;
  line-height: 1.5;
}
h3 {
  font-size: 3rem;
}
p {
  font-size: 2.2rem;
  max-width: (2.2rem * 30);
  line-height: 1.4;
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}
img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  &.main {
    position: relative;
    flex-direction: column;
  }
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-family: "Krona One";
  padding: 2rem 4rem;
  text-decoration: none;
  margin-top: 3rem;
  width: fit-content;
  &.btn-primary {
    background: #2C4BE5;
    transition: background-color 0.2s ease;
    color: white;
    &:hover, &:focus {
      background: #264BB2;
      transition: background-color 0.2s ease;
    }
  }
}
header {
  background: #202020;
  padding: 3rem 0;
  & img {
    max-width: 20rem;
  }
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & ul {
    list-style: none;
    padding: 0;
    & li {
      display: inline-block;
      font-size: 2rem;
      margin-left: 3rem;
      & a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
main {
  padding: 10rem 0;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}

blockquote {
  font-style: italic;
  margin-top: 7rem;
  & p {
    font-size: 1.6rem;
    color: #666;
  }
  & cite {
    color: #666;
    font-size: 1.3rem;
    margin-top: 2rem;
    display: block;
  }
}

section {
  padding: 10rem 0;
}
#about {
  background: white;
  & .intro {
    flex: 0 0 60%;
    padding-right: 3rem;
  }
  & .text {
    flex: 0 0 40%;
  }
}