* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  background: rgb(49, 49, 49);
  color: #fff;
  display: flex;
  font-family: "Barlow", sans-serif;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}
p, ul, li, input, label {
  font-family: "Barlow", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Paytone One"; 
}
h1 {
  font-size: 6rem;
  margin-bottom: 1.5rem;
  max-width: (6rem * 20);
  text-transform: uppercase;
}
p {
  font-size: 2.4rem;
  max-width: (2.4rem * 30);
  line-height: 1.4;
  margin-bottom: 2rem;
}

.container {
  max-width: 1400px;
  padding: 0 2rem;
  &.main {
    position: relative;
  }
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    max-width: 100px;
    margin-bottom: 2rem;
  }
}
#box-main {
  width: 30rem;
  height: 30rem;
  position: absolute;
  right: 0;
  top: -5%;
  background:#001fff;
  z-index: -1;
  box-shadow: 0 0 30px rgba(0,0,0,.3);
}