* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

body {
  background: #202020;
  color: #fff;
  display: flex;
  font-family: "Work Sans", sans-serif;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Krona One", sans-serif;
}
p, ul, li, input, label {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 5rem;
  margin-bottom: 2.4rem;
  max-width: (6rem * 20);
  text-transform: uppercase;
  line-height: 1.4;
  &:after {
    content: "";
    display: block;
    width: 100px;
    height: 8px;
    margin-top: 20px;
    background: #001fff;
  }
}
p {
  font-size: 2.2rem;
  max-width: (2.2rem * 30);
  line-height: 1.4;
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.container {
  max-width: 1400px;
  padding: 0 2rem;
  &.main {
    position: relative;
  }
}

.btn {
  display: inline-block;
  font-size: 2rem;
  font-family: "Krona One";
  padding: 2rem 4rem;
  text-decoration: none;
  margin-top: 3rem;
  &.btn-primary {
    background: #2C4BE5;
    transition: background-color 0.2s ease;
    color: white;
    &:hover, &:focus {
      background: #264BB2;
      transition: background-color 0.2s ease;
    }
  }
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    max-width: 25rem;
    margin-bottom: 7rem;
  }
}
#box-main {
  width: 30rem;
  height: 30rem;
  position: absolute;
  right: 0;
  top: -5%;
  border: 23px solid #001fff;
  z-index: -1;
  box-shadow: 0 0 30px rgba(0,0,0,.3);
}