@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
  h1 {
    font-size: 4.5rem;
    margin-bottom: 3rem;
    max-width: inherit;
  }
  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  p {
    font-size: 2.5rem;
  }
  
  #line span {
    font-size: 2rem;
  }
  #about {
    & .intro {
      padding-right: 0;
      & img {
        margin-bottom: 4rem;
      }
    }
  }
  #services .service p {
    font-size: 2rem;
  }
  #projects .container .projects-list {
    flex-direction: column;
    gap: 3rem;
  }
  ul#social li {
    margin-right: 0;
    margin-left: 0;
    display: block;
    & a {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  header .container {
    flex-direction: row;
  }
  header nav.menu-open ul {
    left: 0;
    transition: all .4s ease-out;
  }
  header nav ul {
    position: absolute;
    display: flex;
    top: 0;
    left: 100%;
    transition: all .4s ease-in;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #0762C8;
    z-index: 1;
    flex-direction: column;
    & li {
      display: block;
      font-size: 3.5rem;
      margin-left: 0;
      margin-top: 2rem;
      font-family: "Sora", sans-serif;
      font-weight: 500;
      &::first-child {
        margin-top: 0;
      }
    }
    & .social {
      display: flex;
      width: 50%;
      align-items: center;
      justify-content: space-evenly;
      margin-top: 2rem;
    }
    & a {
      &[rel="external"] {
        margin-top: 1rem;
        display: inline-block;
      }
      & i {
        color: white;
      }
    }
  }
  header nav {
    cursor: pointer;
    &::before, &::after {
      content: "";
      display: block;
      height: 2px;
      background: white;
      position: relative;
      z-index: 2;
    }
    &::before {
      width: 30px;
      transition: all .2s ease;
    }
    &::after {
      width: 25px;
      margin-top: 6px;
      transition: all .2s ease .3s;
    }
    &.menu-open {
      &::before {
        transform: rotate(45deg);
        top: 8px;
        transition: all .2s ease;
      }
      &::after {
        transform: rotate(-45deg);
        width: 30px;
        transition: all .2s ease .3s;
        box-shadow: 0px -2px 0px #0762c8, 0px -3px 0px #0762c8;
      }
    }
  }
  .container {
    padding: 0 4rem;
    flex-direction: column;
  }
  
  #services .container .services-list {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (min-width: 1001px) {
  header nav ul li a, #social li a {
    &:after {
      content: "";
      height: 3px;
      width: 0;
      display: block;
      background: $color1;
      margin-top: .5rem;
      transition: width .2s ease;
    }
    &:hover::after {
      width: 100%;
      transition: width .2s ease;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
  .rotate {
    right: -140px;
    top: 50%;
    margin-top: -175px;
    & , .circle {
      width: 350px;
      height: 350px;
    }
    & img {
      width: 35px;
    }
  }

  #projects {
    & .container {
      & .projects-list {
        & .project {
          flex: 0 0 48%;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  
}

