@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
  h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  #about {
    & .intro {
      padding-right: 0;
      & img {
        margin-bottom: 4rem;
      }
    }
  }
  #projects .container .projects-list {
    flex-direction: column;
    & .project {
      margin-top: 3rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  #social li {
    margin-right: 3rem;
    margin-left: 0;
  }
}

@media screen and (max-width: 1000px) {
  header .container {
    flex-direction: row;
  }
  header nav.menu-open ul {
    display: flex;
  }
  header nav ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: #0762C8;
    z-index: 1;
    flex-direction: column;
    & li {
      display: block;
      font-size: 3.5rem;
      margin-left: 0;
      margin-top: 2rem;
      font-family: "Krona One", sans-serif;
      &::first-child {
        margin-top: 0;
      }
    }
    & a {
      &[rel="external"] {
        margin-top: 1rem;
        display: inline-block;
      }
      & i {
        color: white;
      }
    }
  }
  header nav {
    cursor: pointer;
    &::before, &::after {
      content: "";
      display: block;
      height: 2px;
      background: white;
      position: relative;
      z-index: 2;
    }
    &::before {
      width: 30px;
      transition: all .2s ease;
    }
    &::after {
      width: 25px;
      margin-top: 6px;
      transition: all .2s ease;
    }
    &.menu-open {
      &::before {
        transform: rotate(45deg);
        top: 8px;
        transition: all .2s ease;
      }
      &::after {
        transform: rotate(-45deg);
        width: 30px;
        transition: all .2s ease;
      }
    }
  }
  .container {
    padding: 0 4rem;
    flex-direction: column;
  }
  
  #services .container .services-list {
    flex-direction: column;
    & .service {
      margin-top: 3rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
}

@media screen and (min-width: 1001px) {
  header nav ul li a, #social li a {
    &:after {
      content: "";
      height: 3px;
      width: 0;
      display: block;
      background: $color1;
      margin-top: .5rem;
      transition: width .2s ease;
    }
    &:hover::after {
      width: 100%;
      transition: width .2s ease;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    max-width: inherit;
  }
}

