* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: $default-cursor;
}

body {
  background: #040405;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

a, button, input[type="radio"], input[type="checkbox"] {
  cursor: $pointer-cursor;
}

input[type="text"], p, h1, h2, h3, h4, h5, h6 {
  cursor: $text-cursor;
}

p, ul, li, input, label {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
  font-size: 6em;
  margin-bottom: 2.4rem;
  line-height: 1.4;
  max-width: 75%;
  &:after {
    content: "";
    display: block;
    width: 100px;
    height: 8px;
    margin-top: 20px;
    background: $color1;
  }
}
h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  line-height: 1.5;
}
h3 {
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
  line-height: 1.5;
  font-weight: 600;
}
p {
  font-size: 2rem;
  max-width: (2rem * 30);
  line-height: 1.6;
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}
img {
  max-width: 100%;
  display: block;
}
.fadeInLeft {
  animation-fill-mode: forwards;
}
.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  width: 100%;
  &.main {
    position: relative;
    flex-direction: column;
  }
}

header {
  background: #040405;
  padding: 3rem 0;
  position: sticky;
  z-index: 1;
  top: 0;
  & img {
    max-width: 20rem;
  }
  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  & ul {
    list-style: none;
    padding: 0;
    & li {
      display: inline-block;
      font-size: 2rem;
      margin-left: 3rem;
      vertical-align: middle;
      & a {
        color: white;
        text-decoration: none;
        & i {
          color: #0762C8;
        }
      }
    }
    & .social {
      display: inline-block;
    }
  }
}
main {
  padding: 10rem 0;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  & h1 {
    font-weight: 600;
  }
}

blockquote {
  padding: 4rem;
  background: #0762C8;
  margin-bottom: 5rem;
  border-bottom-right-radius: 15rem;
  & p {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    & .q1, .q2 {
      color: white;
      font-family: "Plus Jakarta Sans", sans-serif;
    }
  }
  & cite {
    color: white;
    font-size: 1.6rem;
    margin-top: 2rem;
    display: block;
  }
}

section {
  padding: 10rem 0;
}
#about {
  background: white;
  & p {
    & a {
      color: #0762c8;
    }
  }
  & .intro {
    flex: 0 0 50%;
    padding-right: 8rem;
    & img[alt="Foto Douglas Oliveira"] {
      border-top-right-radius: 15rem;
    }
  }
  & .text {
    flex: 0 0 40%;
    & div {
      position: sticky;
      top: 0;
    }
    & img {
      /*animation: rotate 2s ease 2s forwards infinite;*/
      margin-bottom: 3rem;
      max-width: 40px;
    }
  }
  & blockquote {
    & img {
      border-radius: 50%;
      max-width: 75px;
      margin-bottom: 2rem;
      border: 5px solid #C19636;
    }
  }
}

#services {
  background: $color1;
  color: white;
  & .container {
    flex-direction: column;
    & p {
      margin-bottom: 3rem;
    }
    & .services-list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      gap: 2rem;
    }
  }
  & .service {
    border: 4px solid white;
    padding: 3rem;
    flex: 1 0 0;
    & img {
      max-height: 5rem;
      margin-bottom: 2rem;
    }
    & p {
      font-size: 1.8rem;
    }
  }
}

#projects {
  background: white;
  & .container {
    flex-direction: column;
    & .projects-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      gap: 5rem 2%;
      & .project {
        flex: 0 0 32%;
        & a {
          transition: all .2s ease;
          &:hover, &:focus {
            opacity: .75;
            transition: all .2s ease;
          }
        }
        & h3 {
          margin-top: 1.5rem;
          margin-bottom: .25rem;
          font-family: "Plus Jakarta Sans", sans-serif;
          color: #202020;
        }
        & small {
          color: #666;
          font-size: 1.5rem;
        }
      }
    }
  }
}

#contact {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    margin-bottom: 2rem;
    word-break: break-word;
    font-family: "Plus Jakarta Sans", sans-serif;
    &.btn {
      &-secondary {
        font-size: 1.8rem;
        color: #0762C8;
        margin-bottom: 4rem;
        margin-top: 0;
        display: flex;
        align-items: center;
        width: fit-content;
        & img {
          margin-right: 2rem;
          max-width: 3.25rem;
        }
      }
    }
    & i {
      color: $color1;
      margin-right: 1.5rem;
    }
  }
  p {
    margin-bottom: 3rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 3rem;
    & strong {
      font-weight:500;
    }
  }
  .container {
    flex-direction: column;
    text-align: left;
  }
  & ul {
    list-style: none;
    padding-top: 3rem;
    border-top: 3px solid white;
    & li {
      display: inline-block;
      font-size: 2rem;
      margin-left: 3rem;
      margin-bottom: 2rem;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}


#line {
  background: #e4e4e4;
  padding: 2rem 0;
  overflow: hidden;
  white-space: nowrap;
  & span {
    animation: marquee 15s linear infinite;
    color: #b5b5b5;
    display: inline-block;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    padding-left: 100%;
    font-size: 3rem;
    max-width: initial;
  }
}

.btn-whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 60px;
  height: 60px;
  display: block;
  height: block;
  & img {
    max-width: 60px;
  }
}
